EFEmpresarios/.vs
EFEmpresarios/packages
EFEmpresarios/AppConsole/bin
EFEmpresarios/AppConsole/obj
EFEmpresarios/EFEmpresarios/bin
EFEmpresarios/EFEmpresarios/obj
DatabaseEmpresarios/.vs
DatabaseEmpresarios/DatabaseEmpresarios/bin
DatabaseEmpresarios/DatabaseEmpresarios/obj



